.container{
    display: flex;
    flex-shrink: 0;
  

    background-color: teal;
    height: 400px;
    color: white;
}
.r1{
    flex-grow: 1;
    background-color: tomato;
}
.r2{
    flex-grow: 1;
    background-color: thistle;
}
.r3{
    flex-grow: 1;
    background-color: crimson;
}
.rect{
    height: 150px;
}